body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
a{
    position: relative;
    display: inline-block;
    padding: 30px;
    color: #7FFF7F;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    color: #0C720C;
    background: #7FFF7F;
    /*Aqui coloca a sombra para ter o efeito de neon*/
    box-shadow: 0 0 10px #7FFF7F, 0 0 40px #7FFF7F, 0 0 80px #7FFF7F;
    transition-delay: 1s;
}
/*Aqui é a movimentação da linha*/
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #7FFF7F);
}
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
a span:nth-child(2){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, #7FFF7F);
}
a:hover span:nth-child(2){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
